
.wrapper-item {
  margin-top: 1.2rem;
  /* transition: all 0.25 linear; */
}

/* .wrapper-item:hover {
  transform: translateY(-5px);
} */

.item-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.icon-box i {
  pointer-events: none;
}

.image {
  overflow: hidden;
  border-radius: 8px;
}

.image img {
  border-radius: 8px;
  object-fit: cover;
  max-height: 130px;
  transition: all 0.25s linear;
  cursor: pointer;
}

.image img:hover {
  transform: scale(1.2);
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon-box {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F0A500;
  
  transition: all 0.2s linear;
}

.icon-box:hover {
  background-color: #eeb436;
  cursor: pointer;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-created {
  padding: 3px 5px;
  background-color: #F0A500;
  font-weight: bold;
  border-radius: 5px;
}

.name-icon {
  padding-right: 10px;
  color: #F0A500;
}
.user-icon {
  padding-right: 5px;
}

.is-disable {
  background-color: #86837d;
  pointer-events: none;
}