.item-box {
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.image img {
  border-radius: 8px;
  max-height: 259px;
}

.intro {
  text-align: center;
}

.name-icon,
.address-icon {
  margin-right: 10px;
  color: #F0A500;
}