.form-wrapper {
  width: 60%;
  margin: 0 auto;

  margin-top: 15px;
}

.form-control {
  height: 100%;
  width: 60%;
  padding: 40px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
} 
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-box {
  margin-top: 20px;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .form-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .form-control {
    width: 80%;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .form-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .form-control {
    width: 70%;
  }
}